<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title><%= strip_html(markdown_inline(@title)) %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Poiret+One|PT+Serif|Open+Sans:400,300'
          rel='stylesheet' type='text/css'>

    <link href="<%= @config[:cdn_url] %>/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%= @config[:cdn_url] %>/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="<%= @config[:cdn_url] %>/css/socialicons.css" rel="stylesheet">
    <link href="<%= @config[:cdn_url] %>/css/glyphicons.css" rel="stylesheet">
    <link href="<%= @config[:cdn_url] %>/css/halflings.css" rel="stylesheet">
    <link href="<%= @config[:cdn_url] %>/css/template.css" rel="stylesheet">
    <link href="<%= @config[:cdn_url] %>/css/colors/color-classic.css" rel="stylesheet" id="colorcss">

    <script src="<%= @config[:cdn_url] %>/js/modernizr.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

</head>
<body>

<div class="container">

<div class="masthead clearfix">

<!-- The Logo -->
<section style="float: left;">
    <a href="index.html"><img id="logo" src="<%= @config[:cdn_url] %>/img/Butch.png" alt="Basetta"></a>
</section>
<hgroup id="nameplate">
<% @@title ||= markdown_inline(@config[:title]) %>
<h1 id="title"><a href="/" title="Home page"><%= @@title %></a></h1>
<% @@description ||= markdown_inline(@config[:description]) %>
<h2 id="description"><%= @@description %></h2>

</hgroup>

<!-- The Navigation -->
<ul id="nav" class="nav ww-nav pull-right hidden-phone">
  <li><a href="#">About</a></li>
  <li><a href="#">Archive</a></li>
  <li><a href="#">Contact</a></li>
</ul>
</div>

<hr>

<div class="row main-content">
    <div class="offset1 span6 zone-content">
        <%= @content || yield %>
    </div>
    <% @@sidebar ||= @site.items.find { |item| item.destination == '/includes/sidebar.html' } %>
<%= @@sidebar.content %>


    </div>
<hr>
<div class="row">
    <div class="copyright span12"><% @@copyright ||= copyright_year(@copyright['starting_year']) + ' ' + strip_html(markdown_inline(@copyright['owner'])) %>
<p id="copyright">Copyright &copy; <%= @@copyright %> - Thanks to <a href="http://donmelton.com/">Don Melton</a> for <a href="https://github.com/donmelton/magneto">Magneto</a></p></div>
</div>
</div>  <!-- End Container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<% if page_url(@item) == '/' %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/<%= @config[:jquery_version] %>/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="<%= @config[:cdn_url] %>/js/jquery.min.js"><\/script>')</script>
<script>window.jQuery || document.write('<script src="<%= @config[:cdn_url] %>/js/bootstrap.js"><\/script>')</script>
<script>window.jQuery || document.write('<script src="<%= @config[:cdn_url] %>/js/tinynav.js"><\/script>')</script>
<script>window.jQuery || document.write('<script src="<%= @config[:cdn_url] %>/js/template.js"><\/script>')</script>
<script src="<%= @config[:cdn_url] %>/js/timeago.js"></script>
<script>
    jQuery(document).ready(function() {
        $('time.timeago').timeago();
    });
</script>
<% end %>
<% unless @config[:google_analytics_account].empty? %>
<script>
    var _gaq=[['_setAccount','<%= @config[:google_analytics_account] %>'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<% end %>

</body>
</html>